<?xml version='1.0' encoding='utf-8'?>
<widget id="com.first.cordova.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>My PortFolio</name>
    <description>This is my introduction to the world of mobile development</description>
    <author email="marianisidahomen@gmail.com" href="https://github/Mari1797">
        Marian Ofure Isidahomen
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
